In [1]:
import pandas as pd
import numpy as np
import pickle

In [2]:
df_train=pd.read_csv('train_final.csv',index_col=False)
labels=df_train[['784']]

In [3]:
df_train.shape

(47504, 785)

In [4]:
df_train.head()

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,10
1,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,10
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,10
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,10
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,10

In [5]:
df_train.drop(df_train.columns[[784]],axis=1,inplace=True)
df_train.head()

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
np.random.seed(1212)
import keras
from keras.models import Model
from keras.layers import *
from keras import optimizers
from keras.layers import Input, Dense
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout
from keras.layers import Flatten
from keras.layers.convolutional import Conv2D
from keras.layers.convolutional import MaxPooling2D
from keras.utils import np_utils

In [7]:

labels=np.array(labels)

In [8]:
from keras.utils.np_utils import to_categorical
cat=to_categorical(labels,num_classes=13)

In [9]:
print(cat[0])

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0.]

In [10]:
df_train.head()

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
df_train.shape

(47504, 784)

In [26]:
temp=df_train.to_numpy()
temp.shape

(47504, 784)

In [13]:
X_train = temp.reshape(temp.shape[0], 28, 28, 1)

In [15]:
X_train.shape

(47504, 28, 28, 1)

In [16]:
l=[]
for i in range(len(df_train)):
    l.append(np.array(df_train[i:i+1]).reshape(1,28,28))

# print(len(df_train))

In [17]:
np.random.seed(7)

In [18]:
len(l[0])

1

In [19]:
X_train.shape

(47504, 28, 28, 1)

In [20]:
model = Sequential()
model.add(Conv2D(32, (3, 3), input_shape=(28, 28, 1), activation='relu', padding='same'))

print(model.layers[0].input_shape)

(None, 28, 28, 1)

In [21]:
model = Sequential()
model.add(Conv2D(32, (3,3), input_shape=(28, 28,1), activation='relu',padding='same'))
model.add(MaxPooling2D(pool_size=(2, 2)))
model.add(Conv2D(15, (3, 3), activation='relu'))
model.add(MaxPooling2D(pool_size=(2, 2)))
model.add(Dropout(0.2))
model.add(Flatten())
model.add(Dense(128, activation='relu'))
model.add(Dense(50, activation='relu'))
model.add(Dense(13, activation='softmax'))
# Compile model
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [22]:
from keras.models import model_from_json

In [23]:
model.fit(X_train, cat, epochs=10, batch_size=200,shuffle=True,verbose=1)

Epoch 1/10
238/238 [==============================] - 11s 40ms/step - loss: 1.1886 - accuracy: 0.6911
Epoch 2/10
238/238 [==============================] - 10s 41ms/step - loss: 0.2372 - accuracy: 0.9289
Epoch 3/10
238/238 [==============================] - 10s 42ms/step - loss: 0.1305 - accuracy: 0.9622
Epoch 4/10
238/238 [==============================] - 10s 41ms/step - loss: 0.0916 - accuracy: 0.9730
Epoch 5/10
238/238 [==============================] - 10s 41ms/step - loss: 0.0695 - accuracy: 0.9800
Epoch 6/10
238/238 [==============================] - 10s 42ms/step - loss: 0.0529 - accuracy: 0.9843
Epoch 7/10
238/238 [==============================] - 10s 42ms/step - loss: 0.0443 - accuracy: 0.9864
Epoch 8/10
238/238 [==============================] - 10s 42ms/step - loss: 0.0399 - accuracy: 0.9883
Epoch 9/10
238/238 [==============================] - 10s 42ms/step - loss: 0.0352 - accuracy: 0.9894
Epoch 10/10
238/238 [==============================] - 10s 42ms/step - loss: 0.0293 - accuracy: 0.9908

In [24]:
model_json = model.to_json()
with open("model_final.json", "w") as json_file:
    json_file.write(model_json)
# serialize weights to HDF5
model.save_weights("model_final.h5")